# Discord
discord.py>=2.4.1
python-dotenv>=1.0.0

# Web Scraping
playwright>=1.40.0

# Utilities
aiohttp>=3.8.4
yt-dlp>=2023.3.4
Pillow>=9.5.0
requests>=2.28.2

# Web Server
Flask>=2.3.3
Flask-SocketIO>=5.3.5
Flask-Cors>=4.0.0
python-socketio>=5.8.0
python-engineio>=4.5.1
Werkzeug>=2.3.7
cohere>=4.20

# Async
asyncio>=3.4.3